{{#* inline "head" }}
  <style>
    #fileList {
      width: 100%;
    }

    #back-link {
      position: absolute;
      top: 30px;
      left: 30px;
    }
  </style>
{{/inline}}

{{#*inline "content" }}
    <a href="/" id="back-link" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left"></i>
        Zurück zur Startseite
    </a>

    <main style="margin-top: 75px;">
        {{#if no_categories}}
          <div class="alert alert-info">
            <h3 class="alert-heading">
              Keine Kategorien vorhanden
            </h3>
            <hr />
            <div>
              <p class="mb-0">
                Es wurden noch keine Artikel kategorisiert. Entweder Artikel <a href="/dates">über das Tinder</a> kategorisieren oder ein bereits erstelltes PDF aus der untenstehenden Liste auswählen!
              </p>
            </div>
          </div>
        {{/if}}

        <h4>Aktuelle 5 Minuten &mdash; Generierte PDF-Dateien</h4>
        <div id="fileList" class="btn-group-vertical">
            {{#each files}}
            <a
                class="btn btn-outline-secondary"
                href="/files/{{this}}"
                target="_blank"
                style="text-align: start;"
            >
                {{this}}
            </a>
            {{/each}}
        </div>
    </main>
{{/inline}}
{{> base htmx=false}}
